force-app/main/default/flows/Assign_Remove_Inside_Sales_Permission_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>InsideSalesPermissionSetName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside_Sales</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Inside_Sales_PermissionSetAssignment</name>
        <label>Check for Inside Sales PermissionSetAssignment</label>
        <locationX>359</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Inside_Sales_PermissionSetAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingInsideSalesPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assigned_Inside_Sales_Permission_Set</targetReference>
            </connector>
            <label>Has Inside Sales PermissionSetAssignment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delete_Inside_Sales_PermissionSet</name>
        <label>Is Delete Inside Sales PermissionSet</label>
        <locationX>356</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Delete_Inside_Sales_PermissionSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDeleteInsideSalesPermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_PermissionSetAssignment_for_Inside_Sales</targetReference>
            </connector>
            <label>Check Delete Inside Sales PermissionSet</label>
        </rules>
        <rules>
            <name>Check_Assign_Inside_Sales_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDeleteInsideSalesPermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inside_Sales_Permission_Set</targetReference>
            </connector>
            <label>Check Assign Inside Sales Permission Set</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Remove Inside Sales Permission Set {!$Flow.CurrentDateTime}{!UserId}</interviewLabel>
    <label>Assign Remove Inside Sales Permission Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Inside_Sales_Permission_Set</name>
        <label>Assign Inside Sales Permission Set</label>
        <locationX>744</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Query_Inside_Sales_PermissionSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Assigned_Inside_Sales_Permission_Set</name>
        <label>Delete Assigned Inside Sales Permission Set</label>
        <locationX>794</locationX>
        <locationY>484</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingInsideSalesPermissionSetAssignmentId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Query_Inside_Sales_PermissionSet</name>
        <label>Query Inside Sales PermissionSet</label>
        <locationX>187</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Delete_Inside_Sales_PermissionSet</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsideSalesPermissionSetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_PermissionSetAssignment_for_Inside_Sales</name>
        <label>Query PermissionSetAssignment for Inside Sales</label>
        <locationX>367</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Inside_Sales_PermissionSetAssignment</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Inside_Sales_PermissionSet.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>ExistingInsideSalesPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_Inside_Sales_PermissionSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Existing_InsideSales_PermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingInsideSalesPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsDeleteInsideSalesPermissionSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
