force-app/main/default/flows/Assign_Permission_Set_to_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_PermissionSetAssignment</name>
        <label>Check for PermissionSetAssignment</label>
        <locationX>687</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PermissionSetAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PermissionSetAssignment_Record</targetReference>
            </connector>
            <label>Has PermissionSetAssignment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PermissionSet</name>
        <label>Check PermissionSet</label>
        <locationX>427</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PermissionSetId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_PermissionSetAssignment</targetReference>
            </connector>
            <label>Check PermissionSetId</label>
        </rules>
    </decisions>
    <description>This flow will create a PermissionSetAssignment record for the user according to assigned Profile.</description>
    <interviewLabel>Assign Permission Set to User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Permission Set to User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PermissionSetAssignment_Record</name>
        <label>Create PermissionSetAssignment Record</label>
        <locationX>1009</locationX>
        <locationY>307</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>Query_PermissionSet_Record</name>
        <label>Query PermissionSet Record</label>
        <locationX>216</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PermissionSet</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetName</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>PermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_PermissionSetAssignment</name>
        <label>Query PermissionSetAssignment</label>
        <locationX>436</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PermissionSetAssignment</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>ExistingPermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>20</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_PermissionSet_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingPermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
